Sublime\ Text/Package Control.last-run
Sublime\ Text/Package Control.ca-list
Sublime\ Text/Package Control.ca-bundle
Sublime\ Text/Package Control.system-ca-bundle
Sublime\ Text/Package Control.cache/
Sublime\ Text/Package Control.ca-certs/
