snippet rescue
rescue ${1:StandardError} => e
	puts e.message
	puts e.backtrace.inspect
	${0:# Rescue}
endsnippet

snippet rspec "Setup RSpec file"
require 'spec_helper'

describe ${1:Class} do
	${0}
end
endsnippet
